.enjoy {
	padding-top: 20px;
}

.enjoy__bg {
	border: 1px transparent;
	border-radius: 40px;
	padding: 100px;
	background: url(/src/images/bg-home.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	@media(max-width: 380px) {
		padding: 60px 16px;
		width: 100%;
	}
}

.enjoy__content {
	display: flex;
	// justify-content: left;
	flex-direction: column;
	gap: 40px;
	max-width: 530px;
}

.enjoy__title {
	font-family: Inter;
	font-size: 72px;
	font-style: italic;
	font-weight: 600;
	line-height: 105%;
	color: $textLight;
	@media(max-width: 380px) {
		font-size: 42px;
		line-height: 115%;
	}
}

.text__accent {
	font-style: italic;
	color: $textAccent;
}

.enjoy__text {
	font-size: 16px;
	line-height: 150%;
	color: $textLight;
}

.enjoy__btn {
	display: inline-flex;
	padding: 20px 38px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border-radius: 100px;
	color: $textDark;
	background: $textLight;
}

.coffee__title {
	text-align: center;
}

.coffee__slider {
	padding-top: 40px;
}

.slider__item {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.slider__title {
	font-size: 24px;
	font-weight: 600;
	line-height: 125%; /* 30px */
	color: $textDark;
}

.slider__text {
	padding: 16px 0px;
	line-height: 150%; /* 30px */
	color: $textDark;
}

.slider__price {
	font-size: 24px;
	font-weight: 600;
	line-height: 125%; /* 30px */
	color: $textDark;
}

.slider__media {
	width: 100%;
	@media(max-width: 380px) {
		width: 348px;
		height: 348px;
	}
}

@media(max-width: 768px) {
	.about__text {
		text-align: center;
	}
}

// .about__box {
// 	display: flex;
// 	justify-content: space-between;
// 	gap: 40px;
// }

// .about__box-item {
// 	width: 660px;
// 	flex: 2;
// }

// .about__box-img {
// 	width: 100%;
	// height: auto;
	// display: block;
// }

.about__box{
	padding-top: 40px;
	display: grid;
	gap: 40px;
	grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}

.about__box-item {
	position: relative;
	padding: 0px 0px 85% 0px;
}

.about__box-img {
	border-radius: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.box-img {
	width: 660px;
	height: 430px;
}

.app__wrapper {
	display: flex;
	justify-content: space-between;
	gap: 100px;
	align-items: center;
	@media(max-width: 768px) {
		flex-direction: column;
	}
	@media(max-width: 380px) {
		gap: 40px;
	}
}

.app__text {
	font-size: 16px;;
	line-height: 150%;
	padding: 40px 0px;
}

.app__btn {
	display: flex;
	align-items: center;
	gap: 10px;
	flex-direction: row;
	border-width: 1px;
	border-style: solid;
	border-color: $borderDark;
	border-radius: 100px;
	padding: 8px 18px;
}

.btns__wrapper {
	display: flex;
	gap: 20px;
	@media(max-width: 380px) {
		display: inline-flex;
		flex-direction: column;
	}
}

.app__accent {
	font-size: 10px;
	line-height: 140%;
}

.app__media-img {
	width: 100%;
	@media(max-width: 380px) {
		width: 348px;
		height: 348px;
	}
}

.app__btn-text {
	color: $textDark;
	font-size: 16px;
	font-weight: 600;
	line-height: 150%;
}

.btn__avail {
	font-size: 10px;
	font-weight: 600;
	line-height: 140%;
}

.btn__text {
	font-size: 16px;
	line-height: 150%;
}


// .app {
// 	display: flex;
// 	flex-direction: column;
// 	gap: 40px;
// 	justify-content: left;
// 	background: url(/src/images/mobile-screens.png);
// 	background-repeat: no-repeat;
// 	background-position: right top;
// 	background-size: contain;
// }

// .app__wrapper {
// 	display: flex;
// 	justify-content: space-between;
// }

// .app__media {
// 	display: flex;
// 	flex-direction: column;
// }


// .app__icon {
// 	cursor: pointer;
// 	display: flex;
// 	gap: 8px;
// 	border-width: 1px;
// 	border-style: solid;
// 	border-color: $borderDark;
// 	border-radius: 100px;
// 	padding: 12px 20px;
// }

// .app__decr {
// 	display: flex;
// 	flex-direction: column;
// }



.app__name {
	font-size: 16px;
	font-weight: 600;
	line-height: 150%; /* 24px */
}

.footer {
	padding-bottom: 40px;
	@media(max-width: 380px){
		padding-top: 100px;
	}
}

.footer__wrapper {
	border-radius: 40px;
	background: $borderDark;
	display: flex;
	justify-content: center;
	gap: 100px;
	padding: 100px;
	@media(max-width: 768px) {
		flex-direction: column;
		padding: 100px 60px;
	}
	@media(max-width: 380px) {
		padding: 60px 16px;
		gap: 40px;
	}
}

.footer__title {
	max-width: 530px;
}

.footer__social {
	flex-basis: 50%;
}

.social__wrapper {
	padding-top: 40px;
	display: flex;
	gap: 12px;
}

.social__link {
	border-width: 1px;
	border-style: solid;
	border-color: $borderLight;
	border-radius: 100%;
	padding: 18px;
}

.contacts__title {
	padding-bottom: 40px;
	font-size: 24px;
	font-weight: 600;
	line-height: 125%; 
	color: $textLight;
}

.contacts__wrapper {
	flex-direction: column;
	display: flex;
	gap: 16px;
}

.contacts__item {
	display: flex;
	gap: 8px;
	align-items: center;
	cursor: pointer;
}

.contacts__item-text {
	font-weight: 600;
	line-height: 150%;
	color: $textLight;
}
